# 0.1) Starting Code and Helper Functions

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [28]:
#importing all the data, from the 'Calaveras Cataloguing' spreadsheet. Updated as of 3/16/20. 

inverts = pd.read_csv('Calaveras_Cataloguing_Invertebrates.csv')
inv_0 = inverts.copy()

verts = pd.read_csv('Calaveras_Cataloguing_Vertebrates.csv')
vert_0 = verts.copy()

In [29]:
##null_list

#takes in a list and reports if it is completely null values
#useful for cleaning up data

def null_list(array):
    temp1 = []
    for j in range(len(array)):
        if pd.isnull(array[j]) == True:
            temp1.append(array[j])
    if len(temp1) == len(array):
        return True
    else:
        return False

# 0.2) Cleaning Up the Data

Data entry for this project involved adding the field number (and the date that the fossil was found), the locality number, and the taxonomy (as specific as possible). A lot of the data is either left blank or is not uniform, so code needs to be written that parses through the data and cleans it up.

In [30]:
##0.2.1) REMOVING ANY EMPTY ROWS

#First, there are extra rows assigned with no values in them. We will get rid of them. 

inv_1 = pd.DataFrame(columns=inverts.columns)

for i in range(len(inv_0)):
    if null_list(inv_0.iloc[i][2:22]) == False:
        inv_1 = inv_1.append(inv_0.iloc[i], ignore_index = False) #ignore_index is important, can keep track from OG data

In [31]:
##0.2.2) TAXONOMY DIVERSITY + IDENTIFYING MISTAKES

#A lot of the data entries have the taxonomies listed at lower levels
#Our first step will be to identify the diversity of the group at each taxonomic level (from genus to phylum)

#checks the rows where the column condition is met
#(inv_1.loc[inv_1['ordr'] == 'Pectinidae'])
#inv_2['phylum']

temp2 = []
for col in inv_1:
    temp2.append(inv_1[col].unique())

print('The Diversity of the Calaveras Inverts Across Taxonomic Levels (v1)')   
print()
    
for i in range(2,8):
    print(inv_1.columns[i])
    print(temp2[i])
    print()

The Diversity of the Calaveras Inverts Across Taxonomic Levels (v1)

phylum
[nan 'Plantae' 'V17011' 'V17017' 'Ichnofossil' 'Mollusca' 'Arthropoda'
 'Echinodermata ' 'Echinodermata' 'Annelida' 'ichnofossil' ' '
 'Foraminifera' 'Ichnotaxon' 'Teredolites']

class
[nan 'Bivalvia' 'Cirripedia' 'Mollusca' 'Gastropoda' 'Bivalvia '
 'Echinodermata' 'Pectinidae' 'Scaphopoda' 'Gastropoda ' 'Echinoidea '
 'Cirrepedia' 'Bivalvia?' 'Scaphopoda (?)' 'Gastropoda?' ' ' 'Crustacea '
 'Maxillopoda']

ordr
[nan 'Pectinidae' 'Ostreioida' 'Venerida' 'Lucinidae' 'Cirripedia'
 'Decapoda']

family
[nan 'Pectinidae' 'Ostreidae' 'Arcidae' 'Pectinidae ' 'Mactridae'
 'Lucinidae' 'Tellinidae' 'Lucinidae ' 'Yoldiidae' 'Trochidae' 'Mytilidae'
 'Lucinidea' 'pectinidae' 'Pectinidae?' 'Spondylidae' 'Cardiidae'
 'Cardiidae?' 'arcidae?']

originalGenus
[nan]

genus
['Patinopecten' nan 'Mytilus' 'Teredolites' ' ' 'patinopecten' 'Spisula'
 'Diplodanta' 'Astrodapsis' 'astrodapsis' '???' 'terodolites'
 'teredolites' 'Mytilidae']

This is where we are at. We have cleaned up the data and gotten rid of extra space, and are now left with just the data (logged over 2 years by different people). The next step will be to use the lower taxonomic level IDs to fill out the upper levels. This will flush out the data and make it more useful later. Unfortunately, we will have to hard code some of this to account for variations in taxonomic levels. It will be lengthy and arduous. 

Next, we isolated the unique groups in each column of our data (shown above), which provides us with very useful information. Now we know what we have to 'hard code'. Unfortunately, due to different people doing data entry, there are some overlapping errors. These (according to taxonomic level) are:

-ERROR LIST-

1. Phylum: 
    1. locality numbers in the phylum,
    2. plantae is a kingdom, but we can ignore this
    3. the 2 'ichnofossil', 'ichnotaxon', and 'teredolites' are all the same thing, 
    4. foraminifera is not a phylum, it is a ???? ASK ASHLEY, HOW DO WE CLASSIFY FORAMS??
2. Class: 
    1. 3 bivalvia, 
    2. 3 gastropoda, 
    3. mollusca is a phylum, 
    4. pectinidae is a family, 
    5. 2 scaphopoda, 
    6. 2 cirripedia, 
    7. crustacea is a generic term (for phylum?), 
    8. echinodermata is a phylum, has multiple spellings
3. Order:
    1. pectinidae is a family,
    2. lucinidae is a family,
    3. cirripedia is a subclass, we are grouping it in 'class'    
4. Family:
    1. 4 pectinidae (one has a space after)
    2. 2 arcidae
    3. 2 lucinidae
    4. 2 cardiidae    
5. Genus:
    1. 2 patinopecten
    2. mytilidae is a family
    3. 3 teredolites
    4. diplodanta is spelled 'diplodonta'
    5. 2 astrodapsis

In [32]:
##0.2.3) TAXONOMIC ERROR CORRECTIONS

inv_2 = inv_1.copy()


#We will do a row by row sweep, because that is easiest for me
#According to the error list above

##########################################################################################################################

##1. phylum
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'phylum'] == ' '):
            inv_2.loc[i,'phylum'] = np.nan

#1A
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'phylum'] == 'V17011') or (inv_2.loc[i,'phylum'] == 'V17017'):
        inv_2.loc[i,'phylum'] = np.nan

#1C
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'phylum'] == 'Ichnofossil') or (inv_2.loc[i,'phylum'] == 'ichnofossil') or (inv_2.loc[i,'phylum'] == 'Ichnotaxon') or (inv_2.loc[i,'phylum'] == 'Teredolites'):
        inv_2.loc[i,'phylum'] = np.nan
        inv_2.loc[i,'genus'] = 'Teredolites'
        
##########################################################################################################################
        
##2. class
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == ' '):
            inv_2.loc[i,'class'] = np.nan

#2A
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Bivalvia ') or (inv_2.loc[i,'class'] == 'Bivalvia?'):
        inv_2.loc[i,'class'] = 'Bivalvia'
#2B
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Gastropoda ') or (inv_2.loc[i,'class'] == 'Gastropoda?'):
        inv_2.loc[i,'class'] = 'Gastropoda'
#2C
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Mollusca'):
        inv_2.loc[i,'class'] = np.nan
        inv_2.loc[i,'phylum'] = 'Mollusca'        
#2D
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Pectinidae'):
        inv_2.loc[i,'class'] = np.nan
        inv_2.loc[i,'family'] = 'Pectinidae'
#2E
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Scaphopoda (?)'):
        inv_2.loc[i,'class'] = 'Scaphopoda'
#2F
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Cirrepedia'):
        inv_2.loc[i,'class'] = 'Cirripedia'
#2G
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Crustacea'):
        inv_2.loc[i,'class'] = np.nan
        inv_2.loc[i,'phylum'] = 'Arthropoda'
#2H
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'class'] == 'Echinodermata') or (inv_2.loc[i,'phylum'] == 'Echinodermata '):
        inv_2.loc[i,'class'] = np.nan
        inv_2.loc[i,'phylum'] = 'Echinodermata'

##########################################################################################################################

##3. order
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'ordr'] == ' '):
            inv_2.loc[i,'ordr'] = np.nan            
#3A
for i, row in inv_2.iterrows():
    if (inv_2.loc[i,'ordr'] == 'Pectinidae'):
        inv_2.loc[i,'ordr'] = np.nan
        inv_2.loc[i,'family'] = 'Pectinidae'
#3B
for i, row in inv_2.iterrows():
    if (inv_2.loc[i,'ordr'] == 'Lucinidae'):
        inv_2.loc[i,'ordr'] = np.nan
        inv_2.loc[i,'family'] = 'Lucinidae'        
#3C
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'ordr'] == 'Cirripedia'):
        inv_2.loc[i,'ordr'] = np.nan
        inv_2.loc[i,'class'] = 'Cirripedia'        

##########################################################################################################################

##4. family 
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'family'] == ' '):
            inv_2.loc[i,'family'] = np.nan            
#4A
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'family'] == 'Pectinidae ') or (inv_2.loc[i,'family'] == 'pectinidae') or (inv_2.loc[i,'family'] == 'Pectinidae?'):
        inv_2.loc[i,'family'] = 'Pectinidae'
#4B
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'family'] == 'arcidae?'):
        inv_2.loc[i,'family'] = 'Arcidae'
#4C
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'family'] == 'Lucinidea') or (inv_2.loc[i,'family'] == 'Lucinidae '):
        inv_2.loc[i,'family'] = 'Lucinidae'
#4D
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'family'] == 'Cardiidae?'):
        inv_2.loc[i,'family'] = 'Cardiidae'
        
##########################################################################################################################

##5. genus
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'genus'] == ' '):
            inv_2.loc[i,'genus'] = np.nan            
#5A
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'genus'] == 'patinopecten'):
        inv_2.loc[i,'genus'] = 'Patinopecten'   
#5B
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'genus'] == 'Mytilidae'):
        inv_2.loc[i,'genus'] = np.nan
        inv_2.loc[i,'family'] = 'Mytilidae'   
#5C
for i, row in inv_2.iterrows():
    if (inv_2.loc[i,'genus'] == 'teredolites') or (inv_2.loc[i,'genus'] == 'terodolites'):
        inv_2.loc[i,'genus'] = 'Teredolites'
#5D
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'genus'] == 'Diplodanta'):
        inv_2.loc[i,'genus'] = 'Diplodonta' 
#5E
for i, row in inv_2.iterrows():
    if  (inv_2.loc[i,'genus'] == 'astrodapsis'):
        inv_2.loc[i,'genus'] = 'Astrodapsis' 
        
temp3 = []
for col in inv_2:
    temp3.append(inv_2[col].unique())

print('The Diversity of the Calaveras Inverts Across Taxonomic Levels (v2)')   
print()
    
for i in range(2,8):
    print(inv_2.columns[i])
    print(temp3[i])
    print()

The Diversity of the Calaveras Inverts Across Taxonomic Levels (v2)

phylum
[nan 'Plantae' 'Mollusca' 'Echinodermata' 'Arthropoda' 'Annelida'
 'Foraminifera']

class
[nan 'Bivalvia' 'Cirripedia' 'Gastropoda' 'Scaphopoda' 'Echinoidea '
 'Crustacea ' 'Maxillopoda']

ordr
[nan 'Ostreioida' 'Venerida' 'Decapoda']

family
[nan 'Pectinidae' 'Ostreidae' 'Arcidae' 'Mactridae' 'Lucinidae'
 'Tellinidae' 'Yoldiidae' 'Trochidae' 'Mytilidae' 'Spondylidae'
 'Cardiidae']

originalGenus
[nan]

genus
['Patinopecten' nan 'Mytilus' 'Teredolites' 'Spisula' 'Diplodonta'
 'Astrodapsis' '???']

Great. This looks like some diversity data we can work with. Now we have to work backwards, using lower level taxonomic information to fill out the higher level information. This will be difficult to accomplish.

In [33]:
##0.2.4) FLUSHING OUT THE DATA

#We have our dataset...we know which lower taxa we have and can create functions based off them to fill out the higher levels.
#If I was smarter, I would have mapped out the taxonomic info onto an existing database to save time. 
#Alas, I have to hard code the rest. 

#Higher taxa info taken from ITIS, World Echinoidea Database (WED)

In [34]:
##Class (Phylum)
inv_3_1 = inv_2.copy()

#Bivalvia (Mollusca) ITIS
#Gastropoda (Mollusca) ITIS
#Scaphopoda (Mollusca) ITIS
for i, row in inv_3_1.iterrows():
    if  (inv_3_1.loc[i,'class'] == 'Bivalvia') or (inv_3_1.loc[i,'class'] == 'Gastropoda') or (inv_3_1.loc[i,'class'] == 'Scaphopoda'):
            inv_3_1.loc[i,'phylum'] = 'Mollusca'

#Cirripedia (Arthropoda) ITIS
#Crustacea (Arthropoda) ITIS
#Maxillopoda (Arthropoda) ITIS
for i, row in inv_3_1.iterrows():
    if  (inv_3_1.loc[i,'class'] == 'Cirripedia') or (inv_3_1.loc[i,'class'] == 'Crustacea') or (inv_3_1.loc[i,'class'] == 'Maxillopoda'):
            inv_3_1.loc[i,'phylum'] = 'Arthropoda'

#Echinoidea (Echinodermata) ITIS
for i, row in inv_3_1.iterrows():
    if (inv_3_1.loc[i,'class'] == 'Echinoidea'):
            inv_3_1.loc[i,'phylum'] = 'Echinodermata'

In [35]:
##Order (Class, Phylum)
inv_3_2 = inv_3_1.copy()

#Ostreioida (Bivalvia, Mollusca) ITIS
#Venerida (Bivalvia, Mollusca) ITIS
for i, row in inv_3_2.iterrows():
    if (inv_3_2.loc[i,'ordr'] == 'Ostreioida') or (inv_3_2.loc[i,'ordr'] == 'Venerida'):
        inv_3_2.loc[i,'class'] = 'Bivalvia'
        inv_3_2.loc[i,'phylum'] = 'Mollusca'

#Decapoda (Malacostraca, Arthropoda) ITIS
for i, row in inv_3_2.iterrows():
    if (inv_3_2.loc[i,'ordr'] == 'Decapoda'):
        inv_3_2.loc[i,'class'] = 'Malacostraca'
        inv_3_2.loc[i,'phylum'] = 'Arthropoda'

In [36]:
##Family (Order, Class, Phylum)
inv_3_3 = inv_3_2.copy()

#Pectinidae (Ostreoida, Bivalvia, Mollusca) ITIS
#Ostreidae (Ostreoida, Bivalvia, Mollusca) ITIS
#Spondylidae (Ostreoida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Pectinidae') or (inv_3_3.loc[i,'family'] == 'Ostreidae') or (inv_3_3.loc[i,'family'] == 'Spondylidae'):
        inv_3_3.loc[i,'ordr'] = 'Ostreioida'
        inv_3_3.loc[i,'class'] = 'Bivalvia'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

#Arcidae (Arcoida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Arcidae'):
        inv_3_3.loc[i,'ordr'] = 'Arcoida'
        inv_3_3.loc[i,'class'] = 'Bivalvia'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

#Mactridae (Veneroida, Bivalvia, Mollusca) ITIS
#Lucinidae (Veneroida, Bivalvia, Mollusca) ITIS
#Tellinidae (Veneroida, Bivalvia, Mollusca) ITIS
#Cardiidae (Veneroida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Mactridae') or (inv_3_3.loc[i,'family'] == 'Lucinidae') or (inv_3_3.loc[i,'family'] == 'Tellinidae') or (inv_3_3.loc[i,'family'] == 'Cardiidae'):
        inv_3_3.loc[i,'ordr'] = 'Veneroida'
        inv_3_3.loc[i,'class'] = 'Bivalvia'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

#Yoldiidae (Nuculoida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Yoldiidae'):
        inv_3_3.loc[i,'ordr'] = 'Nuculoida'
        inv_3_3.loc[i,'class'] = 'Bivalvia'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

#Trochidae (Archaeogastropoda, Gastropoda, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Trochidae'):
        inv_3_3.loc[i,'ordr'] = 'Archaegastropoda'
        inv_3_3.loc[i,'class'] = 'Gastropoda'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

#Mytilidae (Mytiloida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_3.iterrows():
    if (inv_3_3.loc[i,'family'] == 'Mytilidae'):
        inv_3_3.loc[i,'ordr'] = 'Mytiloida'
        inv_3_3.loc[i,'class'] = 'Bivalvia'
        inv_3_3.loc[i,'phylum'] = 'Mollusca'

In [37]:
##Genus (Family, Order, Class, Phylum)
inv_3_4 = inv_3_3.copy()

#Patinopecten (Pectinidae, Ostreoida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_4.iterrows():
    if (inv_3_4.loc[i,'genus'] == 'Patinopecten'):
        inv_3_4.loc[i,'family'] = 'Pectinidae'
        inv_3_4.loc[i,'ordr'] = 'Ostreoida'
        inv_3_4.loc[i,'class'] = 'Bivalvia'
        inv_3_4.loc[i,'phylum'] = 'Mollusca'

#Mytilus (Mytlidae, Mytiloida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_4.iterrows():
    if (inv_3_4.loc[i,'genus'] == 'Mytilus'):
        inv_3_4.loc[i,'family'] = 'Mytilidae'
        inv_3_4.loc[i,'ordr'] = 'Mytiloida'
        inv_3_4.loc[i,'class'] = 'Bivalvia'
        inv_3_4.loc[i,'phylum'] = 'Mollusca'

#Teredolites (ASK ASHLEY, WHAT DO WE DO ABOUT ICHNOFOSSILS???)

#Spisula (Mactridae, Veneroida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_4.iterrows():
    if (inv_3_4.loc[i,'genus'] == 'Spisula'):
        inv_3_4.loc[i,'family'] = 'Mactridae'
        inv_3_4.loc[i,'ordr'] = 'Veneroida'
        inv_3_4.loc[i,'class'] = 'Bivalvia'
        inv_3_4.loc[i,'phylum'] = 'Mollusca'

#Diplodonta (Ungulinidae, Veneroida, Bivalvia, Mollusca) ITIS
for i, row in inv_3_4.iterrows():
    if (inv_3_4.loc[i,'genus'] == 'Diplodonta'):
        inv_3_4.loc[i,'family'] = 'Ungulinidae'
        inv_3_4.loc[i,'ordr'] = 'Veneroida'
        inv_3_4.loc[i,'class'] = 'Bivalvia'
        inv_3_4.loc[i,'phylum'] = 'Mollusca'

#Astrodapsis (Echinarachniidae, Clypeasteroida, Echinoidea, Echinodermata) WED
for i, row in inv_3_4.iterrows():
    if (inv_3_4.loc[i,'genus'] == 'Astrodapsis'):
        inv_3_4.loc[i,'family'] = 'Echinarachniidae'
        inv_3_4.loc[i,'ordr'] = 'Clypeasteroida'
        inv_3_4.loc[i,'class'] = 'Echinoidea'
        inv_3_4.loc[i,'phylum'] = 'Echinodermata'

In [38]:
inv_3_4

,spec_no,loc_ID_num,phylum,class,ordr,family,originalGenus,genus,subgenus,originalSubgenus,...,subspecies,modifiers,num_individuals,element,field_num,Associated With,ID by,ID date,Catalogued by,Notes
0,300100,V17009,Mollusca,Bivalvia,Ostreoida,Pectinidae,NaN,Patinopecten,NaN,NaN,...,NaN,NaN,1.0,shell,JPW 12-03-2013/1,NaN,"Robins, Cristina",10-16-2017,"Dangsangtong, Peter",NaN
1,300101,V17018,Mollusca,Bivalvia,Ostreoida,Pectinidae,NaN,Patinopecten,NaN,NaN,...,NaN,NaN,1.0,shell,JPW 04-10-2012/3,Associated with 300102,"Robins, Cristina",10-16-2017,"Dangsangtong, Peter",NaN
2,300102,V17018,Mollusca,Bivalvia,Ostreoida,Pectinidae,NaN,Patinopecten,NaN,NaN,...,NaN,NaN,1.0,shell,JPW 04-10-2012/3,Associated with 300101,"Robins, Cristina",10-16-2017,"Dangsangtong, Peter",NaN
3,300103,V17011,Mollusca,Bivalvia,Ostreoida,Pectinidae,NaN,Patinopecten,NaN,NaN,...,NaN,NaN,1.0,shell,JPW 03-21-2012/5,NaN,"Robins, Cristina",10-16-2017,"Dangsangtong, Peter",NaN
4,300104,V17011,Mollusca,Bivalvia,Ostreoida,Pectinidae,NaN,Patinopecten,NaN,NaN,...,NaN,NaN,1.0,external mold,JPW 04-22-2014/3,NaN,"Robins, Cristina",10-16-2017,"Dangsangtong, Peter",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3130,303230,V17021,Mollusca,Bivalvia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,external mold,JPW 01-15-2015,assumed JPW/locality,NaN,08-01-2019,"Mackenzie, Laura",NaN
3131,303231,V17021,NaN,NaN,NaN,NaN,NaN,Teredolites,NaN,NaN,...,NaN,NaN,NaN,burrows,JPW 01-15-2015,assumed JPW/locality; part and counterpart,NaN,08-01-2019,"Mackenzie, Laura",NaN
3132,303232,V17021,Mollusca,Bivalvia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,shell fragment,JPW 01-15-2015,assumed JPW/locality,NaN,08-01-2019,"Mackenzie, Laura",NaN
3133,303233,V17021,Mollusca,Bivalvia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,shell fragment,JPW 01-15-2015,assumed JPW/locality,NaN,08-01-2019,"Mackenzie, Laura",NaN
3134,303234,V17021,Mollusca,Bivalvia,Ostreioida,Ostreidae,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,shell fragment,JPW 01-15-2015,assumed JPW/locality,NaN,08-01-2019,"Mackenzie, Laura",NaN

That was painful, but useful in consolidating the data into a uniform structure, ready for analysis. The final task for my data cleaning involved making all the field numbers uniform, and converting them from strings to classes using datetime, so that I can begin looking at things quantitatively. 

First, I made a function called format_test that looked for whether each fossil had a JPW number and could be converted into a datetime. This is shown in the cell below. If that condition failed, the data was either fixed for formatting or excluded. 

I put inv_3_4 into an Excel spreadsheet so I could make formatting errors and correct any anomalies, just do a general "cleaning" of the data.

In [39]:
def format_test(df,index,column):
    if (str(df.iloc[index][column])[0:3] == 'JPW') or (str(df.iloc[index][column])[0:3] == 'CDP'):
        try:
            dt.strptime(str(df.iloc[index][column])[4:14], '%m-%d-%Y')
            return True
        except ValueError:
            return False
        #print(str(i) + " " + str(extracted.iloc[i][1])[0:3] + "          .") This was just to test the function.
    else:
        return False

In [40]:
temp4 = []
for i in range(len(inv_3_4)):
    if format_test(inv_3_4,i,16) == True:
        temp4.append(True)
    else:
        temp4.append(False)
        
inv_3_4.insert(17, 'filtered', temp4)

In [41]:
#We can use the generated list below to find which dates can be corrected, and 
#which data needs to be removed from analysis due to incomplete records. 

#for i in range(len(inv_3_4)):
    #print(inv_3_4.iloc[i][0])
    #print(inv_3_4.iloc[i][16:18])
    #print()

In [42]:
#downloading the current rendition of the data to an excel file
#I will manually fix minor formatting issues and return the file as 'cleaned.xlsx'

with pd.ExcelWriter('calaveras_inverts_for_cleaning.xlsx') as writer:
    inv_3_4.to_excel(writer)

In [43]:
cleaned = pd.read_excel('calaveras_inverts_cleaned.xlsx')
cleaned = cleaned.drop(columns=['Unnamed: 0'])

#printing for testing
#for i in range(len(cleaned)):
    #print(cleaned.iloc[i][1])
    #print(cleaned.iloc[i][16:18])
    #print()

In [44]:
temp5 = []
for i in range(len(cleaned)):
    if format_test(cleaned,i,16) == True:
        temp5.append(True)
    else:
        temp5.append(False)

cleaned.insert(18, 'filtered2', temp5)

In [45]:
inv_4 = pd.DataFrame(columns=cleaned.columns)

for i in range(len(cleaned)):
    if cleaned.iloc[i][18] == True:
        inv_4 = inv_4.append(cleaned.iloc[i], ignore_index = False)

In [46]:
dates = []

for index in range(len(inv_4)):
    dates.append(dt.strptime(str(inv_4.iloc[index][16])[4:14], '%m-%d-%Y'))

inv_4.insert(17, 'date', dates)

In [47]:
#we extract the relevant data

extracted = inv_4[['spec_no', 'field_num', 'date', 'phylum', 'class', 'ordr', 'family', 'genus']].copy()
extracted

,spec_no,field_num,date,phylum,class,ordr,family,genus
0,300100,JPW 12-03-2013/1,2013-12-03,Mollusca,Bivalvia,Ostreoida,Pectinidae,Patinopecten
1,300101,JPW 04-10-2012/3,2012-04-10,Mollusca,Bivalvia,Ostreoida,Pectinidae,Patinopecten
2,300102,JPW 04-10-2012/3,2012-04-10,Mollusca,Bivalvia,Ostreoida,Pectinidae,Patinopecten
3,300103,JPW 03-21-2012/5,2012-03-21,Mollusca,Bivalvia,Ostreoida,Pectinidae,Patinopecten
4,300104,JPW 04-22-2014/3,2014-04-22,Mollusca,Bivalvia,Ostreoida,Pectinidae,Patinopecten
...,...,...,...,...,...,...,...,...
3076,303230,JPW 01-15-2015,2015-01-15,Mollusca,Bivalvia,NaN,NaN,NaN
3077,303231,JPW 01-15-2015,2015-01-15,NaN,NaN,NaN,NaN,Teredolites
3078,303232,JPW 01-15-2015,2015-01-15,Mollusca,Bivalvia,NaN,NaN,NaN
3079,303233,JPW 01-15-2015,2015-01-15,Mollusca,Bivalvia,NaN,NaN,NaN
3080,303234,JPW 01-15-2015,2015-01-15,Mollusca,Bivalvia,Ostreioida,Ostreidae,NaN

In [48]:
extracted.loc[0,'date'].day_name()

'Tuesday'

In [49]:
extracted['date'].min()

#this is a problem

Timestamp('2003-12-02 00:00:00')

In [106]:
time_series = extracted.sort_values(by="date")
time_series.iloc[:, 3]

942     Mollusca
957     Mollusca
969     Mollusca
970     Mollusca
951     Mollusca
          ...
3016    Mollusca
3017    Mollusca
3018    Mollusca
3003    Mollusca
3014    Mollusca
Name: phylum, Length: 3069, dtype: object

,spec_no,field_num,date,phylum,class,ordr,family,genus
942,301042,JPW 12-02-2003/3I,2003-12-02,Mollusca,Bivalvia,NaN,NaN,NaN
957,301057,JPW 12-02-2003/3I,2003-12-02,Mollusca,Bivalvia,NaN,NaN,NaN
969,301069,JPW 12-02-2003/3I,2003-12-02,Mollusca,Bivalvia,NaN,NaN,NaN
970,301070,JPW 12-02-2003/3I,2003-12-02,Mollusca,Bivalvia,NaN,NaN,NaN
951,301051,JPW 12-02-2003/3I,2003-12-02,Mollusca,Bivalvia,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3016,303125,CDP 07-25-2019/24,2019-07-25,Mollusca,Bivalvia,NaN,NaN,NaN
3017,303126,CDP 07-25-2019/25,2019-07-25,Mollusca,Bivalvia,NaN,NaN,NaN
3018,303127,CDP 07-25-2019/26,2019-07-25,Mollusca,Bivalvia,Arcoida,Arcidae,NaN
3003,303112,CDP 07-25-2019/12,2019-07-25,Mollusca,Bivalvia,Ostreioida,Pectinidae,NaN
3014,303123,CDP 07-25-2019/22,2019-07-25,Mollusca,Bivalvia,Ostreioida,Pectinidae,NaN

AttributeError: 'function' object has no attribute 'iloc'

In [155]:


#for key in numbers.iteritems(): 

numbers

Empty DataFrame
Columns: [phylum, class, ordr, family]
Index: []

In [160]:
names = pd.DataFrame(columns = time_series.columns[3:7])
numbers = pd.DataFrame(columns = time_series.columns[3:7])
its = pd.DataFrame(columns = time_series.columns[3:7]) #interim time series

for i in range(len(time_series)):
    
    its = its.append(time_series.iloc[i][3:7])

    lst_uniq = []
    lst_nuniq = []
    
    for j in range(0,4):
        tax_uniq = its.iloc[:,j].unique() 
        tax_uniq = tax_uniq[~pd.isnull(tax_uniq)]
        lst_uniq.append(tax_uniq)
        
        ntax_uniq = len(tax_uniq)
        lst_nuniq.append(ntax_uniq)
    
    names = names.append(lst_uniq)
    numbers = numbers.append(lst_nuniq)
    
    print('Completed Trial ' + str(i + 1) + ' Out of ' + str(len(time_series)))
    print('-Unique Taxa Lists: ' + str(lst_uniq))
    print('-Number of Unique Taxa: ' + str(lst_nuniq))
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print()

Completed Trial 1 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 4 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 5 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 6 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 7 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 8 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 9 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 10 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 11 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 12 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 13 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 14 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 15 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 16 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 17 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 18 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 19 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 20 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 21 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 22 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 23 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 24 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 25 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 26 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 27 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 28 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 29 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 30 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 31 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 32 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 33 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 34 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 35 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 36 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 37 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 38 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 39 Out of 3069
-Unique Taxa Lists: [array(['Mollusca'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [1, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 40 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [2, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 41 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array([], dtype=object), array([], dtype=object)]
-Number of Unique Taxa: [2, 1, 0, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 42 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 1, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 43 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 44 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 45 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 46 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 47 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [2, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 48 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 49 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 50 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 1, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 51 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 52 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 53 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 54 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 55 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 56 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 57 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 58 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 59 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 60 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 61 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 62 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 63 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 64 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 65 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 66 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 67 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 68 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 69 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 70 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 71 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 72 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 73 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 74 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 75 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 76 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 77 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 78 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 79 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 80 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 81 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 82 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 83 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 84 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 85 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 86 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 87 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 88 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 89 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 90 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 2, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 91 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 92 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 93 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 94 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 95 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 96 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 97 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 98 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 99 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 100 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 101 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 102 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 103 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 104 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 105 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 106 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 107 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 108 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 109 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 110 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 111 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 112 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 113 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 114 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 115 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 116 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 117 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 118 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 119 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 120 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 121 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 122 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 123 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 124 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 125 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 126 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida'], dtype=object), array(['Pectinidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 2, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 127 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 128 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 129 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 130 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 131 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [3, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 132 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 133 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 134 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 135 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 136 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 137 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 138 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 139 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 140 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 141 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 142 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 143 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 144 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 145 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 146 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 147 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 148 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 149 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 150 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 151 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 152 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 153 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 154 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 155 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 156 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 157 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 158 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 159 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 160 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 161 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 162 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 163 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 164 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 165 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 166 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 167 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 168 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 169 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 170 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 171 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 172 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 173 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 174 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 175 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 176 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 177 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 178 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 179 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 180 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 181 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 182 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 183 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 184 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 185 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 186 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 187 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 188 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 189 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 190 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 191 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 192 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 193 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 194 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 195 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 196 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 197 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 198 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 199 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 200 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 201 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 202 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 203 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 204 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 205 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 206 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 207 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 208 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 209 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 210 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 211 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 212 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 213 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 214 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 215 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 216 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 217 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 218 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 219 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 220 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 221 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 222 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 223 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 224 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 225 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 226 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 227 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 228 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 229 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 230 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 231 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 232 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 233 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 234 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 235 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 2]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 236 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 237 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 238 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 239 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 240 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 241 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 242 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 243 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 244 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 245 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 246 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 247 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 248 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 249 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 250 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 251 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 252 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 253 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 254 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 255 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 256 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 257 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 258 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 259 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 260 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 261 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 262 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 263 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 264 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 265 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 266 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 267 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 268 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 269 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 270 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 271 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 272 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 273 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 274 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 275 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 276 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 277 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 278 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 279 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 280 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 281 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 282 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 283 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 284 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 285 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 286 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 287 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 288 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 289 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 290 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 291 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 292 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 293 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 294 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 295 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 296 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 297 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 298 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 299 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 300 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 301 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 302 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 303 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 304 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 305 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 306 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 307 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 308 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 309 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 310 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 311 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 312 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 313 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 314 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 315 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 316 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 317 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 318 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 319 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 320 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 321 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 322 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 323 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 324 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 325 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 326 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 327 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 328 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 329 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 330 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 331 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 332 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 333 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 334 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 335 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 336 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 337 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 338 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 339 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 340 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 341 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 342 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 343 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 344 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 345 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 346 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 347 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 348 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 349 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 350 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 351 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 352 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 353 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 354 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 355 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 356 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 357 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 358 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 359 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 360 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 361 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 362 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 363 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 364 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 365 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 366 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 367 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 368 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 369 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 370 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 371 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 372 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 373 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 374 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 375 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 376 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 377 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 378 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 379 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 380 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 381 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 382 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 383 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 384 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 385 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 386 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 387 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 388 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 389 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 390 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 391 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 392 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 393 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 394 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 395 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 396 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 397 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 398 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 399 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 400 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 401 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 402 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 403 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 404 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 405 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 406 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 407 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 408 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 409 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 410 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 411 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 412 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 413 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 414 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 415 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 416 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 417 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 418 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 419 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 420 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 421 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 422 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 423 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 424 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 425 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 426 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 427 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 428 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 429 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 430 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 431 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 432 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 433 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 434 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 3, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 435 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 436 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 437 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 438 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 439 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 440 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 441 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 442 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 443 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 444 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 445 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 446 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 447 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 448 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 449 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 450 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 451 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 452 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 453 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 454 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 455 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 456 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 457 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 458 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 459 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 460 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 461 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 462 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 463 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 464 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 3, 3]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 465 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 466 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 467 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 468 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 469 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 470 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 471 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 472 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 473 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 474 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 475 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 476 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [4, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 477 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 478 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 479 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 480 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 481 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 482 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 483 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 484 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 485 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 486 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 487 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 488 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 489 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 490 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 491 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 492 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 493 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 494 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 495 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 496 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 497 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 498 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 499 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 500 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 501 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 502 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 503 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 504 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 505 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 506 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 507 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 508 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 509 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 510 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 511 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 512 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 513 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 514 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 515 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 516 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 517 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 518 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 519 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 520 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 521 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 522 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 523 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 524 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 525 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 526 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 527 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 528 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 529 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 530 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 531 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 532 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 533 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 534 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 535 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 536 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 537 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 538 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 539 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 540 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 541 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 542 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 543 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 544 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 545 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 546 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 547 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 548 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 549 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 550 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 551 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 552 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 553 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 554 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 555 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 556 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 557 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 558 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 559 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 560 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 561 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 562 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 563 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 564 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 565 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 566 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 567 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 568 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 569 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 570 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 571 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 572 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 573 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 574 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 575 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 576 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 577 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 578 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 579 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 580 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 581 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 582 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 583 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 584 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 585 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 586 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 587 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 588 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 589 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 590 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 591 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 592 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 593 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 594 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 595 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 596 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 597 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 598 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 599 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 600 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 601 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 602 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 603 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 604 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 605 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 606 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 607 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 608 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 609 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 610 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 611 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 612 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 613 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 614 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 615 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 616 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 617 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 618 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 619 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 620 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 621 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 622 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 623 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 624 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 625 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 626 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 627 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 628 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 629 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 630 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 631 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 632 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 633 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 634 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 635 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 636 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 637 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 638 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 639 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 640 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 641 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 642 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 643 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 644 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 645 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 646 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 647 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 648 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 649 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 650 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 651 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 652 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 653 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 654 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 655 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 656 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 657 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 658 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 659 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 660 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 661 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 662 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 663 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 664 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 665 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 666 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 667 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 668 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 669 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 670 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 671 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 672 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 673 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 674 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 675 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 676 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 677 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 678 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 679 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 680 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 681 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 682 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 683 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 684 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 685 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 686 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 687 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 688 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 689 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 690 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 691 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 692 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 693 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 694 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 695 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 696 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 697 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 698 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 699 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 700 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 701 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 702 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 703 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 704 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 705 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 706 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 707 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 708 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 709 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 710 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 711 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 712 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 713 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 714 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 715 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 716 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 717 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 718 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 719 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 720 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 721 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 722 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 723 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 724 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 725 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 726 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 727 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 728 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 729 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 730 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 731 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 732 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 733 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 734 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 735 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 736 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 737 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 738 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 739 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 740 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 741 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 742 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 743 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 744 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 4, 4]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 745 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 746 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 747 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 748 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 749 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 750 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 751 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 752 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 753 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 754 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 755 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 756 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 757 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 758 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 759 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 760 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 761 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 762 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 763 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 764 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 765 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 766 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 767 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 768 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 769 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 770 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 771 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 772 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 773 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 774 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 775 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 776 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 777 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 778 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 779 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 780 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 781 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae'],
      dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 5]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 782 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 6]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 783 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 6]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 784 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 7]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 785 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 5, 7]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 786 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda'],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 4, 6, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 787 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 788 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 789 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 790 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 791 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 792 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 793 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 794 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 795 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 796 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 797 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 798 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 799 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 800 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 801 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 802 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 803 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 804 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 805 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 806 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 807 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 808 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 809 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 810 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 811 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 812 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 813 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 814 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 815 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 816 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 817 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 818 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 819 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 820 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 821 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 822 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 823 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 824 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 825 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 826 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 827 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 828 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 829 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 830 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 831 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 832 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 833 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 834 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 835 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 836 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 837 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 838 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 839 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 840 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 841 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 842 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 843 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 844 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 845 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 846 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 847 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 848 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 849 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 850 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 851 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 852 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 853 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 854 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 855 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 856 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 857 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 858 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 859 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 860 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 861 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 862 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 863 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 864 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 865 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 866 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 867 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 868 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 869 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 870 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 871 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 872 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 873 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 874 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 875 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 876 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 877 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 878 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 879 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 880 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 881 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 882 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 883 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 884 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 885 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 886 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 887 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 888 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 889 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 890 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 891 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 892 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 893 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 894 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 895 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 896 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 897 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 898 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 899 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 900 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 901 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 902 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 903 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 904 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 905 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 906 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 907 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 908 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 909 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 910 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 911 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 912 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 913 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 914 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 915 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 916 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 917 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 918 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 919 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 920 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 921 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 922 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 923 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 924 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 925 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 926 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 927 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 928 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 929 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 930 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 931 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 932 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 933 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 934 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 935 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 936 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 937 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 938 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 939 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 940 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 941 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 942 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 943 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 944 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 945 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 946 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 947 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 948 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 949 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 950 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 951 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 952 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 953 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 954 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 955 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 956 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 957 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 958 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 959 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 960 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 961 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 962 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 963 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 964 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 965 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 966 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 967 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 968 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 969 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 970 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 971 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 972 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 973 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 974 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 975 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 976 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 977 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 978 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 979 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 980 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 981 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 982 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 983 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 984 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 985 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 986 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 987 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 988 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 989 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 990 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 991 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 992 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 993 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 994 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 995 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 996 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 997 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 998 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 999 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1000 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1001 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1002 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1003 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1004 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1005 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1006 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1007 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1008 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1009 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1010 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1011 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1012 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1013 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1014 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1015 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1016 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1017 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1018 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1019 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1020 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1021 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1022 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1023 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1024 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1025 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1026 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1027 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1028 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1029 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1030 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1031 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1032 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1033 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1034 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1035 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1036 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1037 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1038 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1039 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1040 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1041 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1042 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1043 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1044 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1045 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1046 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1047 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1048 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1049 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1050 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1051 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1052 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1053 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1054 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1055 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1056 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1057 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1058 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1059 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1060 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1061 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1062 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1063 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1064 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1065 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1066 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1067 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1068 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1069 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1070 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1071 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1072 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1073 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1074 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1075 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1076 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1077 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1078 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1079 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1080 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1081 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1082 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1083 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1084 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1085 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1086 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1087 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1088 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1089 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1090 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1091 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1092 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1093 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1094 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1095 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1096 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1097 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1098 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1099 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1100 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1101 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1102 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1103 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1104 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1105 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1106 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1107 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1108 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1109 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1110 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 5, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1111 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1112 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1113 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1114 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1115 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1116 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1117 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1118 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1119 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1120 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1121 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1122 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1123 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1124 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1125 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1126 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1127 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1128 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1129 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1130 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1131 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1132 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1133 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1134 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1135 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1136 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1137 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1138 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1139 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1140 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1141 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1142 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1143 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1144 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1145 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1146 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1147 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1148 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1149 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1150 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1151 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1152 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1153 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1154 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1155 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1156 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1157 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1158 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1159 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1160 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1161 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1162 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1163 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1164 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1165 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1166 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1167 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1168 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1169 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1170 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1171 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1172 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1173 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1174 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1175 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1176 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1177 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1178 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1179 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1180 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1181 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1182 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1183 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1184 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1185 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1186 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1187 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1188 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1189 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1190 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1191 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1192 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1193 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1194 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1195 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1196 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1197 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1198 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1199 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1200 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae'], dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 8]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1201 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1202 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1203 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1204 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1205 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1206 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1207 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1208 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1209 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1210 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1211 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1212 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1213 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae'],
      dtype=object)]
-Number of Unique Taxa: [5, 6, 7, 9]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1214 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1215 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1216 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1217 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1218 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1219 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1220 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1221 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1222 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1223 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1224 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1225 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1226 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1227 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1228 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1229 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1230 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1231 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1232 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1233 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1234 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1235 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1236 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1237 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1238 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1239 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1240 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1241 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1242 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1243 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1244 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1245 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1246 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1247 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1248 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1249 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1250 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1251 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1252 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1253 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1254 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1255 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1256 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1257 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1258 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1259 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1260 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1261 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1262 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1263 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1264 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1265 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1266 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1267 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1268 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1269 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1270 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1271 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1272 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1273 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1274 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1275 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1276 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1277 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1278 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1279 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1280 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1281 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1282 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1283 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1284 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1285 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1286 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1287 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1288 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1289 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1290 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1291 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1292 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1293 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1294 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1295 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1296 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1297 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1298 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1299 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1300 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1301 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1302 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1303 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1304 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1305 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1306 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1307 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1308 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1309 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1310 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1311 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1312 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1313 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1314 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1315 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1316 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1317 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1318 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1319 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1320 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1321 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1322 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1323 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1324 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1325 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1326 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1327 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1328 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1329 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1330 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1331 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1332 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1333 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1334 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1335 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1336 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1337 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1338 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1339 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1340 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1341 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1342 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1343 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1344 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1345 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1346 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1347 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1348 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1349 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1350 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1351 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1352 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1353 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1354 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1355 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1356 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1357 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1358 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1359 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1360 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1361 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1362 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1363 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1364 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1365 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1366 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1367 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1368 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1369 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1370 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1371 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1372 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1373 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1374 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1375 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1376 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1377 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1378 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1379 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1380 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1381 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1382 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1383 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1384 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1385 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1386 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1387 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1388 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1389 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1390 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1391 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1392 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1393 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1394 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1395 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1396 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1397 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1398 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1399 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1400 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1401 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1402 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1403 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1404 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1405 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1406 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1407 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1408 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1409 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1410 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1411 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1412 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1413 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1414 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1415 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1416 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1417 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1418 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1419 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1420 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1421 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1422 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1423 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1424 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1425 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1426 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1427 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1428 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1429 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1430 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1431 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1432 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1433 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1434 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1435 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1436 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1437 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1438 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1439 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1440 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1441 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1442 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1443 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1444 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1445 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1446 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1447 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1448 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1449 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1450 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1451 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1452 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1453 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1454 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1455 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1456 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1457 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1458 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1459 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1460 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1461 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1462 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1463 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1464 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1465 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1466 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1467 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1468 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1469 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1470 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1471 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1472 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1473 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1474 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1475 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1476 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1477 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1478 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1479 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1480 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1481 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1482 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1483 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1484 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1485 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1486 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1487 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1488 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1489 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1490 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1491 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1492 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1493 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1494 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1495 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1496 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1497 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1498 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1499 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1500 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1501 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1502 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1503 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1504 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1505 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1506 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1507 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1508 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1509 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1510 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1511 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1512 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1513 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1514 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1515 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1516 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1517 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1518 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1519 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1520 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1521 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1522 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1523 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1524 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1525 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1526 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1527 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1528 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1529 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1530 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1531 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1532 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1533 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1534 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1535 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1536 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1537 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1538 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1539 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1540 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1541 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1542 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1543 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1544 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1545 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1546 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1547 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1548 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1549 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1550 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1551 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1552 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1553 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1554 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1555 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1556 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1557 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1558 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1559 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1560 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1561 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1562 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1563 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1564 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1565 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1566 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1567 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1568 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1569 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1570 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1571 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1572 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1573 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1574 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1575 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1576 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1577 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1578 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1579 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1580 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1581 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1582 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1583 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1584 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1585 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1586 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1587 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1588 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1589 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1590 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1591 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1592 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1593 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1594 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1595 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1596 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1597 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1598 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1599 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1600 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1601 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1602 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1603 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1604 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1605 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1606 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1607 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1608 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1609 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1610 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1611 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1612 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1613 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1614 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1615 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1616 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1617 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1618 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1619 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1620 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1621 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1622 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1623 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1624 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1625 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1626 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1627 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1628 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1629 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1630 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1631 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1632 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1633 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1634 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1635 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1636 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1637 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1638 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1639 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1640 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1641 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1642 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1643 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1644 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1645 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1646 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1647 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1648 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1649 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1650 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1651 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1652 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1653 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1654 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1655 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1656 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1657 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1658 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1659 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1660 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1661 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1662 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1663 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1664 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1665 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1666 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1667 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1668 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1669 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1670 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1671 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1672 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1673 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1674 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1675 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1676 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1677 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1678 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1679 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1680 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1681 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1682 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1683 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1684 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1685 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1686 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1687 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1688 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1689 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1690 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1691 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 10]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1692 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1693 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1694 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1695 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1696 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1697 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1698 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1699 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1700 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1701 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1702 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1703 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1704 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1705 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1706 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1707 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1708 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1709 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1710 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1711 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1712 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1713 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1714 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1715 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1716 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1717 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1718 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1719 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1720 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1721 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1722 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1723 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1724 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1725 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1726 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1727 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1728 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1729 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1730 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1731 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1732 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1733 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1734 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1735 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1736 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1737 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1738 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1739 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1740 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1741 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1742 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1743 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1744 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1745 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1746 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1747 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1748 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1749 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1750 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1751 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1752 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1753 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1754 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1755 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1756 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1757 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1758 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1759 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1760 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1761 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1762 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1763 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1764 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1765 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1766 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1767 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1768 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1769 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1770 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1771 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1772 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1773 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1774 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1775 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1776 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1777 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1778 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1779 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1780 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1781 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1782 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1783 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1784 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1785 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1786 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1787 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1788 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1789 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1790 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1791 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1792 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1793 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1794 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1795 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1796 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1797 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1798 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1799 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1800 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1801 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1802 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1803 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1804 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1805 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1806 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1807 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1808 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1809 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1810 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1811 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1812 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1813 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1814 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1815 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1816 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1817 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1818 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1819 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1820 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1821 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1822 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1823 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1824 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1825 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1826 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1827 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1828 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1829 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1830 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1831 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1832 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1833 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1834 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1835 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1836 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1837 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1838 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1839 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1840 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1841 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1842 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1843 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1844 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1845 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1846 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1847 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1848 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1849 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1850 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1851 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1852 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1853 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1854 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1855 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1856 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1857 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1858 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1859 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1860 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1861 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1862 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1863 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1864 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1865 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1866 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1867 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1868 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1869 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1870 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1871 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1872 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1873 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1874 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1875 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1876 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1877 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1878 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1879 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1880 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1881 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1882 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1883 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1884 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1885 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1886 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1887 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1888 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1889 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1890 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1891 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1892 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1893 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1894 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1895 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1896 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1897 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1898 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1899 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1900 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1901 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1902 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1903 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1904 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1905 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1906 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1907 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1908 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1909 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1910 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1911 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1912 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1913 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1914 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1915 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1916 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1917 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1918 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1919 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1920 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1921 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1922 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1923 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1924 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1925 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1926 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1927 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1928 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1929 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1930 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1931 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1932 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1933 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1934 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1935 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1936 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1937 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1938 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1939 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1940 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1941 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1942 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1943 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1944 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1945 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1946 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1947 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1948 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1949 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1950 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1951 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1952 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1953 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1954 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1955 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1956 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1957 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1958 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1959 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1960 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1961 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1962 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1963 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1964 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1965 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1966 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1967 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1968 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1969 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1970 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1971 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1972 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1973 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1974 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1975 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1976 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1977 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1978 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1979 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1980 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1981 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1982 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1983 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1984 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1985 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1986 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1987 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1988 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1989 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1990 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1991 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1992 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1993 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1994 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1995 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1996 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1997 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1998 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 1999 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2000 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2001 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2002 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2003 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2004 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2005 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2006 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2007 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2008 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2009 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2010 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2011 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2012 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2013 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2014 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2015 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2016 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2017 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2018 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2019 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2020 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2021 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2022 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2023 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2024 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2025 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2026 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2027 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2028 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2029 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2030 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2031 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2032 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2033 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2034 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2035 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2036 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2037 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2038 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2039 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2040 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2041 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2042 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2043 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2044 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2045 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2046 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2047 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2048 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2049 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2050 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2051 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2052 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2053 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2054 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2055 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2056 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2057 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2058 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2059 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2060 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2061 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2062 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2063 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2064 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2065 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2066 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2067 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2068 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2069 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2070 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2071 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2072 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2073 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2074 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2075 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2076 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2077 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2078 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2079 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2080 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2081 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2082 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2083 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2084 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2085 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2086 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2087 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2088 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2089 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2090 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2091 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2092 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2093 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2094 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2095 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2096 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2097 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2098 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2099 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2100 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2101 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2102 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2103 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2104 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2105 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2106 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2107 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2108 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2109 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2110 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2111 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2112 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2113 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2114 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2115 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2116 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2117 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2118 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2119 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2120 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2121 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2122 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2123 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2124 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2125 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2126 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2127 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2128 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2129 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2130 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2131 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2132 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2133 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2134 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2135 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2136 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2137 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2138 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2139 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2140 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2141 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2142 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2143 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2144 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2145 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2146 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2147 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2148 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2149 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2150 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2151 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2152 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2153 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2154 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2155 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2156 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2157 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2158 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2159 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2160 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2161 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2162 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2163 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2164 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2165 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2166 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2167 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2168 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2169 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2170 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2171 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2172 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2173 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2174 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2175 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2176 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2177 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2178 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2179 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2180 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2181 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2182 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2183 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2184 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2185 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2186 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2187 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2188 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2189 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2190 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2191 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2192 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2193 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2194 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2195 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2196 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2197 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2198 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2199 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2200 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2201 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2202 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2203 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2204 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2205 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2206 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2207 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2208 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2209 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2210 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2211 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2212 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2213 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2214 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2215 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2216 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2217 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2218 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2219 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2220 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2221 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2222 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2223 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2224 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2225 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2226 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2227 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2228 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2229 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2230 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2231 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2232 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2233 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2234 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2235 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2236 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2237 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2238 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2239 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2240 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2241 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2242 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2243 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2244 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2245 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2246 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2247 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2248 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2249 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2250 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2251 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2252 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2253 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2254 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2255 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2256 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2257 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2258 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2259 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2260 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2261 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2262 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2263 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2264 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2265 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2266 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2267 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2268 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2269 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2270 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2271 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2272 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2273 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2274 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2275 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2276 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2277 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2278 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2279 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2280 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2281 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2282 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2283 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2284 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2285 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2286 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2287 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2288 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2289 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2290 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2291 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2292 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2293 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2294 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2295 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2296 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2297 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2298 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2299 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2300 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2301 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2302 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2303 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2304 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2305 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2306 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2307 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2308 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2309 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2310 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2311 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2312 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2313 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2314 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2315 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2316 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2317 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2318 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2319 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2320 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2321 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2322 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2323 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2324 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2325 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2326 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2327 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2328 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2329 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2330 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2331 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2332 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2333 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2334 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2335 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2336 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2337 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2338 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2339 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2340 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2341 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2342 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2343 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2344 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2345 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2346 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2347 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2348 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2349 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2350 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2351 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2352 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2353 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2354 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2355 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2356 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2357 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2358 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2359 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2360 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2361 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2362 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2363 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2364 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2365 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2366 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2367 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2368 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2369 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2370 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2371 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2372 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2373 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2374 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2375 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2376 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2377 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2378 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2379 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2380 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2381 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2382 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2383 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2384 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2385 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2386 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2387 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2388 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2389 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2390 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2391 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2392 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2393 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2394 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2395 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2396 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2397 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2398 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2399 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2400 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2401 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2402 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2403 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2404 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2405 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2406 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2407 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2408 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2409 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2410 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2411 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2412 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2413 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2414 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2415 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2416 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2417 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2418 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2419 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2420 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2421 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2422 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2423 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2424 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2425 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2426 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2427 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2428 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2429 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2430 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2431 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2432 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2433 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2434 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2435 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2436 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2437 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2438 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2439 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2440 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2441 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2442 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2443 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2444 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2445 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2446 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2447 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2448 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2449 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2450 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2451 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2452 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2453 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2454 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2455 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2456 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2457 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2458 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2459 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2460 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2461 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2462 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2463 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2464 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2465 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2466 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2467 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2468 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2469 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2470 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2471 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2472 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2473 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2474 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2475 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2476 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2477 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2478 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2479 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2480 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2481 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2482 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2483 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2484 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2485 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2486 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2487 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2488 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2489 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2490 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2491 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2492 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2493 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2494 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2495 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2496 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2497 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2498 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2499 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2500 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2501 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2502 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2503 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2504 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2505 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2506 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2507 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2508 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2509 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2510 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2511 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2512 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2513 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2514 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2515 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2516 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2517 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2518 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2519 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2520 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2521 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2522 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2523 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2524 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2525 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2526 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2527 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2528 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2529 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2530 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2531 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2532 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2533 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2534 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2535 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2536 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2537 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2538 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2539 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2540 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2541 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2542 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2543 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2544 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2545 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2546 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2547 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2548 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2549 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2550 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2551 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2552 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2553 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2554 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2555 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2556 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2557 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2558 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2559 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2560 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2561 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2562 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2563 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2564 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2565 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2566 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2567 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2568 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2569 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2570 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2571 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2572 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2573 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2574 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2575 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2576 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2577 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2578 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2579 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2580 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2581 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2582 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2583 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2584 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2585 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2586 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2587 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2588 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2589 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2590 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2591 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2592 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2593 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2594 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2595 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2596 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2597 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2598 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2599 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2600 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2601 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2602 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2603 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2604 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2605 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2606 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2607 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2608 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2609 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2610 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2611 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [5, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2612 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2613 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2614 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2615 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2616 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2617 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2618 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2619 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2620 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2621 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2622 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2623 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2624 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2625 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2626 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2627 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2628 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2629 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2630 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2631 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2632 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2633 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2634 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2635 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2636 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea'], dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 7, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2637 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2638 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2639 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2640 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2641 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2642 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2643 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2644 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2645 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2646 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2647 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2648 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2649 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2650 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2651 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2652 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2653 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2654 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2655 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2656 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2657 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2658 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2659 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2660 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2661 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2662 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2663 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2664 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2665 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2666 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2667 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2668 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2669 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2670 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2671 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2672 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2673 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2674 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2675 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2676 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2677 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2678 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2679 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2680 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2681 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2682 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2683 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2684 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2685 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2686 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2687 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2688 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2689 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2690 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2691 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2692 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2693 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2694 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2695 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2696 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2697 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 8, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2698 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2699 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2700 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2701 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2702 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2703 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2704 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2705 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2706 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2707 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2708 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2709 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2710 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2711 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2712 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2713 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2714 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2715 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2716 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2717 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2718 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2719 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2720 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2721 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2722 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2723 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2724 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2725 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2726 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2727 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2728 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2729 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2730 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2731 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2732 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2733 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2734 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2735 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2736 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2737 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2738 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2739 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2740 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2741 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2742 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2743 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2744 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2745 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2746 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2747 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2748 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2749 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2750 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2751 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2752 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2753 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2754 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2755 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2756 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2757 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2758 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2759 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2760 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2761 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2762 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2763 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2764 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2765 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2766 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2767 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2768 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2769 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2770 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2771 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2772 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2773 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2774 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2775 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2776 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2777 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2778 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2779 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2780 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2781 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2782 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2783 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2784 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2785 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2786 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2787 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2788 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2789 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2790 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2791 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2792 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2793 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2794 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2795 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2796 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2797 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2798 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2799 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2800 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2801 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2802 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2803 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2804 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2805 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2806 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2807 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2808 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2809 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2810 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2811 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2812 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2813 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2814 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2815 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2816 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2817 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2818 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2819 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2820 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2821 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2822 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2823 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2824 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2825 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2826 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2827 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2828 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2829 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2830 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2831 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2832 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2833 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2834 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2835 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2836 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2837 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2838 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2839 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2840 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2841 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2842 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2843 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2844 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2845 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2846 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2847 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2848 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2849 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2850 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2851 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2852 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2853 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2854 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2855 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2856 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2857 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2858 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2859 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2860 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2861 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2862 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2863 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2864 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2865 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2866 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2867 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2868 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2869 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2870 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2871 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2872 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2873 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2874 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2875 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2876 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2877 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2878 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2879 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2880 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2881 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2882 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2883 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2884 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2885 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2886 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2887 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2888 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida'],
      dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 9, 11]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2889 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2890 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2891 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2892 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2893 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2894 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2895 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2896 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2897 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2898 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2899 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2900 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2901 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2902 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2903 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2904 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2905 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2906 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2907 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2908 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2909 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2910 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2911 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2912 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2913 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2914 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2915 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2916 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2917 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2918 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2919 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2920 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2921 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2922 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2923 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2924 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2925 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2926 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2927 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2928 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2929 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2930 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2931 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2932 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2933 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2934 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2935 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2936 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2937 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2938 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2939 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2940 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2941 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2942 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2943 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2944 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2945 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2946 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2947 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2948 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2949 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2950 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2951 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2952 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2953 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2954 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2955 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2956 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2957 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2958 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2959 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2960 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2961 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2962 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2963 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2964 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2965 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2966 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2967 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2968 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2969 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2970 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2971 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2972 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2973 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2974 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2975 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2976 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2977 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2978 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2979 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2980 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2981 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2982 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2983 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2984 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2985 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2986 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2987 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2988 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2989 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2990 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2991 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2992 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2993 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2994 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2995 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2996 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2997 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2998 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 2999 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3000 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3001 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3002 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3003 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3004 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3005 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3006 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3007 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3008 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3009 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3010 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3011 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3012 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3013 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3014 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3015 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3016 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3017 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3018 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3019 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3020 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3021 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3022 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3023 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3024 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3025 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3026 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3027 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3028 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3029 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3030 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3031 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3032 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3033 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3034 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3035 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3036 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3037 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3038 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3039 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3040 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3041 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3042 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3043 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3044 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3045 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3046 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3047 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3048 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae'], dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 12]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3049 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3050 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3051 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3052 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3053 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3054 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3055 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3056 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3057 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3058 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3059 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3060 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3061 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3062 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3063 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3064 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3065 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3066 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3067 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3068 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Completed Trial 3069 Out of 3069
-Unique Taxa Lists: [array(['Mollusca', 'Arthropoda', 'Plantae', 'Echinodermata',
       'Foraminifera', 'Annelida'], dtype=object), array(['Bivalvia', 'Gastropoda', 'Cirripedia', 'Maxillopoda',
       'Malacostraca', 'Scaphopoda', 'Echinoidea', 'Echinoidea '],
      dtype=object), array(['Ostreoida', 'Ostreioida', 'Mytiloida', 'Arcoida', 'Veneroida',
       'Nuculoida', 'Decapoda', 'Clypeasteroida', 'Venerida',
       'Archaegastropoda'], dtype=object), array(['Pectinidae', 'Mytilidae', 'Ostreidae', 'Arcidae', 'Mactridae',
       'Tellinidae', 'Lucinidae', 'Yoldiidae', 'Spondylidae',
       'Echinarachniidae', 'Ungulinidae', 'Trochidae', 'Cardiidae'],
      dtype=object)]
-Number of Unique Taxa: [6, 8, 10, 13]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
its = pd.DataFrame(columns = time_series.columns[3:7]) #interim time series

for j in range(3,7):
    for i in range(len(time_series)):
        
        its = its.append(time_series.iloc[i][3:7])

        #phyla = its['phylum'].unique()

        tax_uniq = its[:,j].unique() #classes
        tax_uniq = tax_uniq[~pd.isnull(tax_uniq)]
                                       
        ntax_uniq = len(tax_uniq)

        #orders = its['ordr'].unique()
        #families = its['family'].unique()


        #start = phyla index in time_series
        #end = families index in time_series + 1

        #for i in range(len(time_series)):
            #for j in range(start,end):
                #taxon = time_series.iloc[:, i]
                    #its = its.append(time_series.iloc[j])

                    #taxon= its['class'].unique()
                    #taxon = taxon[~pd.isnull(classes)]
                    #ntaxon = len(taxon)

        print(tax_uniq)
        print(ntax_uniq)
        print()

In [ ]:
#inv_4 = inv_4.append(cleaned.iloc[i], ignore_index = False)

In [76]:
np.isnan

# 1) Collection Curve of Invertebrate Fossils

Let us correlate the number of taxa collected with their date of discovery. This needs to be done in a couple steps. We can use the field number as the discovery date (x-axis), and the taxonomies from the spreadsheet (y-axis).

In [ ]:
#we want to find out how the number of taxa changes over time, using the field numbers as a metric for time. 
#let us start at the class level

# Collection Curve of Vertebrate Fossils - Shark Teeth